apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: reuser
type: Opaque
stringData:
  POSTGRES_USER: reuser
  POSTGRES_PASSWORD: changeme
  # The DATABASE_URL should be in the format:
  # postgresql://username:password@host:port/database
  DATABASE_URL: postgresql://reuser:changeme@postgres.reuser.svc.cluster.local:5432/reuser
